<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>杨俊 | Personal Website</title>
    <meta name="keywords" content="个人网站,个人简历,yangjun,杨俊,web前端求职,web前端","web","web前端简历" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/b3_bg.css" />
    <link rel="stylesheet" type="text/css" href="/css/stage.css" />
    <script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easie.js"></script>
    <script type="text/javascript" src="/js/velocity.min.js"></script>
    <!--[if lt IE 9]>
           <script type="text/javascript">
                 window.location = "http://www.goody.com.cn/2014/updatebrowser/"
           </script>
          <![endif]-->

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?93391f9222b6662ec8c8e18680245272";
                  var s = document.getElementsByTagName("script")[0]; 
                    s.parentNode.insertBefore(hm, s);
                })();
        </script>
</head>
<body>
<!-- 小圆点 -->
<div class="circles">
    <ol>
        <li class="cur"></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>

<!-- header -->
<div class="header">
    <div class="header_in">
        <div class="logo">
            <h1><a href="index.html">web前端</a></h1>
             <div class="site">
                <div class="site-name"><a href="#banner">Mystery</a></div>
                 <div class="site-slogan"><a href="#">www.yjyj.website</a></div>
            </div>          
        </div> 

        <div class="nav">
            <ul>
                <li class="cur"><a href="javascript:;" data-go="1">首页</a></li>
                <li><a href="javascript:;" data-go="2">开发技能</a></li>
                <li><a href="javascript:;" data-go="3">技术栈</a></li>
                <li><a href="javascript:;" data-go="4">关于我</a></li>
                <li><a href="javascript:;" data-go="5">联系我</a></li>
                <li><a href="wordpress" target="_block">个人博客</a></li>
            </ul>
        </div>
        <div class="nav_btn">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=834269929&amp;site=qq&amp;menu=yes" target="_blank">联系我</a>
        </div>
    </div>
</div>

<!-- content -->
<div class="content">
    <!-- carousel -->
    <div class="make page">
        <div class="inner_c">
            <img src="/images/siyidazao.png" class="screen" alt="" />
            <div class="text"></div>
        </div>
        <div class="mouse"></div>
    </div>

    <!-- skill -->
    <div class="skill page">
        <div class="skill_in">
            <div class="skill_l" id="skill_l">
                <div class="c_list">
                    <ul>
                        <li><canvas id="demo-1" style="demo"></canvas></li>
                        <li><canvas id="demo-2" style="demo"></canvas></li>
                        <li><canvas id="demo-3" style="demo"></canvas></li>
                        <li class="nomargin"><canvas id="demo-4" style="demo"></canvas></li>
                        <li><canvas id="demo-5" style="demo"></canvas></li>
                        <li><canvas id="demo-6" style="demo"></canvas></li>
                        <li><canvas id="demo-7" style="demo"></canvas></li>
                        <li><canvas id="demo-8" style="demo"></canvas></li>
                    </ul>
                </div>
            </div>
            <div class="skill_r">
                <p>熟练使用HTML，CSS实现移动端和 PC 端布局，能够解决常见兼容问题;</p>
                <p>熟练独立制作页面，掌握 JS 原生语法、正则、闭包、作用域等概念;</p>
                <p>熟悉面向对象编程思想，熟练使用 Ajax 和 JSON 数据处理机制和前后端交互;</p>
                <p>熟悉HTML5+CSS3、Bootstrap，能够独立进行移动web开发;</p>
                <p>能够使用 Seajs 和 Requirejs 进行前端模块化开发，了解 MVC、MVVM 模式思想;</p>
                <p>熟练使用Gulp、Fis3前端自动化工具，使用过Git、Github版本管理工具;</p>
                <p>熟悉Less、Sass、Stylus预处理语言，了解Node服务端开发;</p>
                <p>使用过Backbone、Vue和Angular等框架进行相关移动web开发;</p>
                <p>了解并使用过React框架;</p>
                <p>了解PHP后台，熟悉Photoshop、Firework等设计软件;</p>
                <p>具备良好的编程风格，代码简洁整齐，能熟练编写符合W3C标准的高效率代码。</p>
            </div>
        </div>
    </div>

    <!-- work -->
    <div class="work page">
       <div id="bg" class="" style="transform: scale(0.6); opacity:1;">
            <div class="row1">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
            <div class="row2">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
            <div class="row3">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
            <div class="row1c">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
            <div class="row2c">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
            <div class="row3c">
                <div class="orb1"><div></div></div>
                <div class="orb2"><div></div></div>
                <div class="orb1c"><div></div></div>
                <div class="orb2c"><div></div></div>
            </div>
        </div>

        <div class="inner_c">                    
            <!-- 技术栈展示 -->
            <div class="List">
               <ul class="list0">
                    <li><a href="javascript:;" target="_blank">Vue</a></li>
                    <li><a href="javascript:;" target="_blank">React</a></li>
                    <li class="no1"><a href="javascript:;" target="_blank">NodeJS</a></li>
               </ul>
               <div class="list_ul">
                   <ul>
                       <li><a href="javascript:;" target="_blank">HTML5</a></li>
                       <li><a href="javascript:;" target="_blank">CSS3</a></li>
                       <li><a href="javascript:;" target="_blank">ES6</a></li>
                       <li><a href="javascript:;" target="_blank">Javascript</a></li>                       
                   </ul>
               </div>
               <ul class="list1">
                   <li><a href="javascript:;" target="_blank">MySql</a></li>
                   <li><a href="javascript:;" target="_blank">Koa2</a></li>
                   <li><a href="javascript:;" target="_blank">Nginx</a></li>
               </ul>
            </div>

            <h3>这里是部分demo和作品，更多作品欢迎联系本人</h3>
        </div>       
       
    </div>

    <!-- about -->
    <div class="about page">
        <div class="inner_c">
            <div class="me"></div>
            <ul class="about-ul">
                <li class="about-left">
                    <a class="tx"><i class='plane' id="plane"></i><span class="qiut"></span></a>
                    <p class="about-p">姓名：杨俊 <br>性别：男 <br>
                        学校：长江大学<br>求职意向：Web前端开发</p>
                </li>
                <li class="about-right">
                    <h3>爱生活 &emsp;爱自己 &emsp;爱前端<span class="about-dot"></span></h3>
                    <p class="right-p">
                        <span>没有一颗心</span>
                        <span>会因为追逐梦想而受伤</span>
                        <span>梦想从未停止，努力做好每一个细节，只为自己代言</span>
                        <span>两年Web开发经验，让我能承受较大工作压力和良好的团队协作精神</span>
                        <span>爱生活、爱前端、懂设计。您还在等什么，赶快联系我吧！</span>
                    </p>
                </li>
            </ul>

            <!--简历 开始-->
            <div class="btns">
                <a class="cs" href="yangjun-web.pdf" target="_blank">查看我的简历</a>
            </div>
        </div>
    </div>

    <!-- foot -->
    <div class="foot page">
        <div class="inner_c">
            <div class="hd">
                <div class="foot_left">
                    <ul>
                        <li>电话：18727115180</li>
                        <li>QQ：834269929 <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=834269929&amp;site=qq&amp;menu=yes" target="_blank">联系我</a></li>
                        <li>邮箱：yjun520@126.com</li>
                        <li>微博：@Mystery杨俊</li>
                    </ul>
                </div>
                <div class="foot_right">
                    <img src="/images/erweima.jpg" />
                    <span>扫一扫加我微信</span>
                </div>
            </div>
            <div><p>Copyright © 2016 Web All Right Reserved.</p></div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="js/animate.js"></script>
    <script type="text/javascript" src="js/style.js"></script>
    <script type="text/javascript" id='water'></script>    
</body>
</html>